blis==0.4.1
catalogue==1.0.0
certifi==2020.6.20
chardet==3.0.4
clean-text==0.3.0
click==7.1.2
convokit==2.4.3
cycler==0.10.0
cymem==2.0.4
dill==0.3.3
emoji==0.6.0
filelock==3.0.12
ftfy==5.8
idna==2.10
joblib==0.17.0
kiwisolver==1.3.1
matplotlib==3.3.3
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
msgpack==1.0.0
msgpack-numpy==0.4.7.1
murmurhash==1.0.4
nltk==3.5
numpy==1.19.4
olefile==0.46
packaging==20.4
pandas==1.1.4
Pillow @ file:///opt/concourse/worker/volumes/live/991b9a87-3372-4acd-45f9-eaa52701f03c/volume/pillow_1603822262543/work
plac==1.1.3
preshed==3.0.4
protobuf==3.14.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
regex==2020.11.13
requests==2.25.0
sacremoses==0.0.43
scikit-learn==0.23.2
scipy==1.5.4
sentencepiece==0.1.91
six @ file:///opt/concourse/worker/volumes/live/5b31cb27-1e37-4ca5-6e9f-86246eb206d2/volume/six_1605205320872/work
spacy==2.3.2
srsly==1.0.4
thinc==7.4.1
threadpoolctl==2.1.0
tokenizers==0.9.3
torch==1.7.0
torchaudio==0.7.0a0+ac17b64
torchvision==0.8.1
tqdm==4.52.0
transformers==3.5.1
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
Unidecode==1.1.1
urllib3==1.26.2
wasabi==0.8.0
wcwidth==0.2.5
